VITE_SUPABASE_URL=https://nsqcnmhhvyosljjndnlp.supabase.co
VITE_SUPABASE_ANON_KEY=your_anon_key_hereeyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zcWNubWhodnlvc2xqam5kbmxwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjAxODkwMjYsImV4cCI6MjA3NTc2NTAyNn0.sv4Rst9l0Q-GR61xTC2CdAHkeDngRoXoqzrtWwilIpk